<?xml version="1.0" encoding="UTF-8"?>
<statements type="com.f3.orm.UserMapper">
	<statement id="whereCondition">
		<where>
			<IsNotNull field="city">
				city=?
			</IsNotNull>
			<IsNotNull field="sex" prepend="and">
				sex=?
			</IsNotNull>
		</where>
	</statement>
	<select id="get" parameterType="com.f3.orm.UserQueryDTO" resultType="com.f3.orm.User">
		select * from tb_user
		<include ref="whereCondition"/>
	</select>
</statements>