<?xml version="1.0" encoding="UTF-8"?>
<statements type="com.f3.orm.UserMapper">
	<statement id="whereCondition">
		<where>
			<IsNotNull field="id">
				user_id=?
			</IsNotNull>
			<IsNotNull field="type" prepend="and">
				user_type=?
			</IsNotNull>
		</where>
	</statement>
	<select id="get" parameterType="java.util.HashMap" resultType="com.f3.orm.User">
		select * from tf_f_user	
	</select>
</statements>